#buylist
  h1 Buy List
  .buyitem.control_panel
    label 品項
    input#input_name(placeholder="請輸入產品名稱")
    label 價錢
    input#input_price(placeholder="請輸入價錢")
    span.addbtn +新增
    
  #item_list
    //- li.buy_item 鬥陣特攻
    //-   .price 1900
    //-   .delbtn X
      
    //- li.buy_item.total 總價
    //-   .price 1900